In [1]:
import pandas as pd

In [2]:
train = pd.read_csv("train.csv")
test = pd.read_csv("test.csv")
ids = test["PassengerId"]


#print(train.dtypes)


def clean(data):
    data = data.drop(['Name', 'Cabin', 'PassengerId', 'Ticket'], axis=1) #axis as 1 for columns
    cols = ['Fare', 'Age', 'SibSp', 'Parch']

    for col in cols:
        data[col].fillna(data[col].mean(), inplace=True)
        
    data.Embarked.fillna("U", inplace=True)
    return data
train = clean(train)
test = clean(test)

In [3]:
#label encoding
from sklearn import preprocessing
le = preprocessing.LabelEncoder()

cols = ['Sex', 'Embarked']

for col in cols:
    train[col] = le.fit_transform(train[col])
    test[col] = le.fit_transform(test[col])
    print(le.classes_)
test.head()

['female' 'male']
['C' 'Q' 'S']

   Pclass  Sex   Age  SibSp  Parch     Fare  Embarked
0       3    1  34.5      0      0   7.8292         1
1       3    0  47.0      1      0   7.0000         2
2       2    1  62.0      0      0   9.6875         1
3       3    1  27.0      0      0   8.6625         2
4       3    0  22.0      1      1  12.2875         2

In [4]:
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split

y = train["Survived"]
x = train.drop("Survived", axis=1)

x_train, x_val, y_train, y_val = train_test_split(x, y, test_size=0.2, random_state=42)

In [5]:
clf = LogisticRegression(max_iter=1000000, random_state=0)
clf.fit(x_train, y_train)

LogisticRegression(max_iter=1000000, random_state=0)

In [6]:
pred = clf.predict(x_val)
from sklearn.metrics import accuracy_score
accuracy_score(y_val, pred)

0.8100558659217877

In [7]:
sub = clf.predict(test)

In [8]:

df = pd.DataFrame({"PassengerId": ids.values,
                   "Survived": sub})

In [9]:
df.to_csv("submission.csv", index=False)